---
---

@import "{{ site.theme }}";

.wrapper {
  max-width:1024px;
  margin:0 auto;
  padding: 0 20px;
}

section {
  max-width:1024px;
  padding: 0px 0px 20px 0px;
  margin: 0px 0;
  margin-top: 70px;
}

mark {
  background-color: red;
  color: black;
}
