---
---

@import "{{ site.theme }}";

.wrapper {
  max-width:1400px;
  margin:0 auto;
  padding: 0 20px;
}

section {
  max-width:1400px;
  padding: 0px 0px 20px 0px;
  margin: 0px 0;
  margin-top: 70px;
}

mark {
  background-color: red;
  color: black;
}

p, ul, ol, pre, dl {
  margin:0 0 20px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
         }

 .row {
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 0px;
    height: 0px;
  }

  * {
    box-sizing: border-box;
  }


  .box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

  